.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 350ms;
    z-index: 9999999;
    height: 100%;
    width:100%;
    visibility: hidden;
    opacity: 0;

    &.visible {
        visibility: visible;
        opacity: 1;
    }

    img {
        height: 100px;
        width: 100px;
    }

    .loading-text {
        color:#EEE;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
}