.login-container {
    margin:20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width:400px;
    border: solid 1px #000;
    border-radius: 5px;
}